a[href="/schema"] {
    background-image: url('../images/schedule.jpg');
}

a[href="/dinner"] {
    background-image: url('../images/dinner.jpg');
}

a[href="/info"] {
    background-image: url('../images/1.jpg');
}

a[href="/workshop"] {
    background-image: url('../images/5.png');
}

a [href="/survey"] {
    background-image: url('../images/survey.jpg');
}